# Python
.venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# VS Code
.vscode/

# Environment variables
.env
.env.local
.env.*.local

# Node
node_modules/

# Firebase cache
.firebase/

# Firebase Functions build output
functions/lib/

# Vite cache
.vite/

# Logs
*.log
